@model ApplicationCore.Models.MovieDetailsModel

<button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#purchaseModal">
    BUY @Model.Price.Value.ToString("C")
</button>
<div class="modal fade" id="purchaseModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseModalLabel">CONFIRM PURCHASE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Buy <strong>@Model.Title</strong> for <strong>@Model.Price.Value.ToString("C")</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <a asp-controller="User" asp-action="BuyMovie" asp-route-movieId="@Model.Id" asp-route-price="@Model.Price" class="btn btn-primary" role="button">Yes</a>
            </div>
        </div>
    </div>
</div>