@model ApplicationCore.Models.PurchaseRequestModel
@using ApplicationCore.Contracts.Service
@using MovieShopMVC.Infra
@inject ICurrentUser currentUser
@inject IUserService userService

@if (currentUser.IsAuthenticated)
{
    var purchaseExists = await userService.IsMoviePurchased(Model.MovieId, currentUser.UserId);
    if (purchaseExists)
    {
        <button type="button" class="btn btn-sm btn-light">WATCH MOVIE</button>
    }
    else
    {
        <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#purchaseModal">
            BUY @Model.TotalPrice.ToString("C")
        </button>
        <div class="modal fade" id="purchaseModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="purchaseModalLabel">CONFIRM PURCHASE</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Buy <strong>@Model.MovieTitle</strong> for <strong>@Model.TotalPrice.ToString("C")</strong>?
                    </div>
                    <div class="modal-footer">
                        <form asp-controller="User" asp-action="BuyMovie">
                            <input asp-for="UserId" value="@currentUser.UserId" type="hidden" />
                            <input asp-for="MovieId" value="@Model.MovieId" type="hidden" />
                            <input asp-for="MovieTitle" value="@Model.MovieTitle" type="hidden" />
                            <input asp-for="TotalPrice" value="@Model.TotalPrice" type="hidden" />
                            <div class="text-end">
                                <button type="button" class="btn btn-outline-secondary me-1" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-light">BUY @Model.TotalPrice.ToString("C")</a>
}